body{
    margin: 0;
}
header{
    height: 50vh;
    background-color: #9B6F6F;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
footer{
    height: 50vh;
    background-color: #3d3d3d;
    text-align: center;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}